body{
  margin-top: 20px;
  background-color: rgb(59, 59, 59);
}

img{
  width: 300px;
  border-radius: 5px;
}

.card {
  background-color: rgb(126, 126, 126);
  border-radius: 500px;
}

.card:hover{
  box-shadow: 5px 5px 20px 10px rgb(33, 33, 33);
}

.footer{
  font-size: larger;
}

@media screen and (max-width:600px) {
  .card{
    border-radius: 50px;
  }
}






